<% content_for :title, "Messages" %>

<div class="header">
  <h1>Messages</h1>
</div>

<div class="content">
  <div class="pure-g">
    <div class="pure-u-1">
      <% if @messages.any? %>
        <table class="pure-table pure-table-striped" style="width: 100%;">`
          <thead>
            <tr>
              <th>Message</th>
              <th>From</th>
              <th>Until</th>
              <th>Recipients</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody data-controller="delete-confirmation">
            <% @messages.each do |message| %>
              <tr>
                <td><%= truncate(strip_tags(message.text.to_s), length: 100) %></td>
                <td><%= message.from_date&.strftime('%d %b %Y') || 'No start date' %></td>
                <td><%= message.until_date&.strftime('%d %b %Y') || 'No end date' %></td>
                <td>
                  <% if message.all_clients %>
                    All clients
                  <% else %>
                    <%= message.clients.count %> client<%= 's' if message.clients.count != 1 %>
                  <% end %>
                </td>
                <td class="action-buttons">
                  <%= link_to message_path(message), class: "pure-button pure-button-primary button-small" do %>
                    <span class="material-symbols-outlined">subject</span> View
                  <% end %>
                  <%= render partial: "buttons", locals: { message: message, button_size: "button-small" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="pure-u-1 empty-state">
          <p>No messages found.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1">
    <div class="form-buttons">
      <%= link_to new_message_path, class: "pure-button pure-button-primary" do %>
        <span class="material-symbols-outlined">add</span> New Message
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'shared/delete_confirmation_dialog', locals: { entity_type: 'message' } %>
