<% if invoice.created? %>
  <div data-controller="delete-confirmation" display="inline">
    <button class="pure-button button-danger <%=button_size%>"
            data-id="<%= invoice.id %>"
            data-name="Invoice #<%= invoice.id %> for <%= invoice.client.name %>"
            data-action="click->delete-confirmation#open">
      <span class="material-symbols-outlined">delete</span> Delete
    </button>
  </div>
  <%= link_to edit_invoice_path(invoice), class: "pure-button #{button_size}" do %>
    <span class="material-symbols-outlined">edit</span> Edit
  <% end %>
<% end %>

<% unless invoice.paid? %>
  <div data-controller="send-confirmation" display="inline">
    <button class="pure-button pure-button-primary send-invoice-btn <%=button_size%>"
            data-id="<%= invoice.id %>"
            data-name="Invoice #<%= invoice.id %> for <%= invoice.client.name %>"
            data-action="click->send-confirmation#open">
      <span class="material-symbols-outlined">mail</span> Send
    </button>
  </div>
  <%= render partial: 'shared/send_confirmation_dialog' %>

  <button class="pure-button button-success mark-paid-btn <%=button_size%>"
          data-id="<%= invoice.id %>"
          data-name="Invoice #<%= invoice.id %> for <%= invoice.client.name %>"
          data-controller="mark-paid"
          data-action="click->mark-paid#open">
    <span class="material-symbols-outlined">check</span> Mark as Paid
  </button>
<% end %>