<tr class="credit-note-row" is="turbo-frame" id="<%= dom_id(credit_note) %>">
  <td><%= link_to credit_note.id, credit_note_path(credit_note) %></td>
  <td><span class="billing-type-badge credit-note">Credit Note</span></td>
  <td><%= credit_note.client.name %></td>
  <td><%= credit_note.date.strftime('%d %b %Y') if credit_note.date %></td>
  <td><%= credit_note.amount.format if credit_note.amount %></td>
  <td>
    <span class="status-badge <%= credit_note.status %>">
      <%= credit_note.status.humanize %>
    </span>
  </td>

  <td class="action-buttons">
    <%= link_to credit_note_path(credit_note), class: "pure-button pure-button-primary button-small", data: { turbo_frame: '_top' } do %>
      <span class="material-symbols-outlined">subject</span> View
    <% end %>

    <% if credit_note.created? %>
      <%= link_to edit_credit_note_path(credit_note), class: "pure-button button-small", data: { turbo_frame: '_top' } do %>
        <span class="material-symbols-outlined">edit</span> Edit
      <% end %>

      <%= render partial: 'shared/delete_confirmation', locals: { entity: credit_note, button_size: "button-small" } %>
    <% end %>

    <div data-controller="send-credit-note-confirmation" style="display: inline">
      <button class="pure-button button-success send-credit-note-btn button-small"
              data-id="<%= credit_note.id %>"
              data-name="Credit Note #<%= credit_note.id %> for <%= credit_note.client.name %>"
              data-action="click->send-credit-note-confirmation#open">
        <span class="material-symbols-outlined">send</span> Send
      </button>
    </div>
  </td>
</tr>

