<tr is="turbo-frame" id="<%= dom_id(invoice) %>">
  <td><%= link_to invoice.id, invoice_path(invoice) %></td>
  <td><%= invoice.client.name %></td>
  <td><%= invoice.date.strftime('%d %b %Y') if invoice.date %></td>
  <td><%= invoice.amount.format if invoice.amount %></td>
  <td>
    <span class="status-badge <%= invoice.status %>">
      <%= invoice.status.humanize %>
    </span>
  </td>

  <td class="action-buttons">
    <%= link_to invoice_path(invoice), class: "pure-button pure-button-primary button-small", data: { turbo_frame: '_top' } do %>
      <span class="material-symbols-outlined">subject</span> View
    <% end %>

    <%= render partial: "buttons", locals: { invoice: invoice, button_size: "button-small" } %>
  </td>
</tr>
