<% if @available_sessions.any? %>
  <div data-controller="sessions-table">
    <table class="pure-table pure-table-striped" style="width: 100%;">
      <thead>
      <tr>
        <th width="5%">
          <input type="checkbox" id="select-all" data-sessions-table-target="selectAll" data-action="change->sessions-table#toggleSelectAll" title="Select/deselect all">
        </th>
        <th>Date</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
        <%= form.collection_checkboxes(:client_session_ids, @available_sessions, :id, :session_date, {}, {
          data: {
            sessions_table_target: "checkbox",
            action: "change->sessions-table#toggleCheckbox"
          }
        }) do |client_session| %>
          <tr>
            <td><%= client_session.check_box %></td>
            <td><%= client_session.object.session_date %></td>
            <td><%= client_session.object.duration %> minutes</td>
            <td><%= client_session.object.description %></td>
            <td><%= client_session.object.fee.format %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4" class="align-right"><strong>Total:</strong></td>
        <td data-sessions-table-target="total">TBD</td>
      </tr>
      </tfoot>
    </table>

    <!-- Hidden field to send the calculated amount to the backend -->
    <%= hidden_field_tag "invoice[amount]", "", data: { sessions_table_target: "amountField" } %>

    <%= yield %>
  </div>
<% else %>
  <p>No uninvoiced sessions found for this client.</p>
  <div class="form-buttons">
    <%= link_to "Back to Clients", clients_path, class: "pure-button" %>
  </div>
<% end %>
