<% if @available_sessions.any? %>
  <div data-controller="sessions-table">
    <table class="pure-table pure-table-striped" style="width: 100%;">
      <thead>
      <tr>
        <th width="5%">
          <input type="checkbox" id="select-all" data-sessions-table-target="selectAll" data-action="change->sessions-table#toggleSelectAll" title="Select/deselect all">
        </th>
        <th>Date</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <% @available_sessions.each do |session| %>
        <tr>
          <td>
            <%= check_box_tag "session_ids[]", session.id, true, 
                              id: "session_#{session.id}", 
                              data: { 
                                sessions_table_target: "checkbox",
                                action: "change->sessions-table#toggleCheckbox"
                              } %>
          </td>
          <td><%= session.start.strftime('%d %b %Y') %></td>
          <td><%= session.duration %> minutes</td>
          <td><%= session.description %></td>
          <td><%= session.fee.format %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4" class="align-right"><strong>Total:</strong></td>
        <td data-sessions-table-target="total">TBD</td>
      </tr>
      </tfoot>
    </table>

    <%= yield %>
  </div>
<% else %>
  <p>No uninvoiced sessions found for this client.</p>
  <div class="form-buttons">
    <%= link_to "Back to Clients", clients_path, class: "pure-button" %>
  </div>
<% end %>
