<%= form_with(model: client, class: "pure-form pure-form-stacked", data: { controller: "validation" }) do |form| %>
  <%= render 'shared/error_explanation', model: client %>

  <fieldset>
    <legend>Client Information</legend>
    
    <% if client.persisted? %>
      <div class="pure-g">
        <div class="pure-u-1">
          <div class="toggle-switch">
            <%= form.check_box :active, class: "toggle-input" %>
            <%= form.label :active, "Active Client", class: "toggle-label" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <%= form.label :name %>
        <%= form.text_field :name, required: true, class: "pure-input-1", data: { action: "invalid->validation#markFieldAsInvalid" } %>
      </div>
      
      <div class="pure-u-1 pure-u-md-1-2">
        <%= form.label :email %>
        <%= form.email_field :email, required: true, class: "pure-input-1", data: { action: "invalid->validation#markFieldAsInvalid" } %>
      </div>
    </div>
    
    <%= render 'shared/address_form', form: form %>

    <div class="pure-g">
      <div class="pure-u-1">
        <%= form.label :paid_by_id, "Payment Arrangement" %>
        <%= form.collection_select :paid_by_id, @payees, :id, :name,
            { include_blank: "Self Paying" },
            { class: "pure-input-1" } %>
        <div class="form-hint">Select who pays for this client's sessions</div>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <legend>Billing Information</legend>
    
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <%= form.label :new_rate, "Hourly Rate" %>
        <div class="pure-input-prepend">
          <span class="input-prefix">£</span>
          <%= form.text_field :new_rate, value: client.new_rate&.amount ? (client.new_rate.amount) : "60.00", class: "pure-input-1", step: "0.01", min: "0" %>
        </div>
      </div>
      
      <div class="pure-u-1 pure-u-md-1-2">
        <%= form.label :new_rate_from, "Rate Effective From" %>
        <%= form.date_field :new_rate_from, value: client.new_rate_from || Date.today, class: "pure-input-1" %>
      </div>
    </div>
  </fieldset>

  <div class="form-buttons">
    <%= form.submit class: "pure-button pure-button-primary", data: { action: "click->validation#resetValidationErrorText" } %>
    <%= link_to "Cancel", clients_path, class: "pure-button" %>
  </div>
<% end %>

<style>
  fieldset {
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 4px;
  }
  
  legend {
    font-weight: bold;
    padding: 0 0.5em;
  }
  
  .pure-g {
    margin-bottom: 1em;
  }
  
  .pure-g [class*="pure-u"] {
    padding-right: 1em;
    box-sizing: border-box;
  }
  
  .pure-form label {
    margin: 0.5em 0 0.2em;
    font-weight: bold;
  }
  
  .pure-input-prepend {
    position: relative;
  }
  
  .input-prefix {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
  
  .pure-input-prepend input {
    padding-left: 25px;
  }
  
  .form-buttons {
    margin-top: 2em;
  }
  
  .pure-button {
    margin-right: 0.5em;
  }

  /* Toggle switch styles */
  .toggle-switch {
    margin: 1em 0;
    display: flex;
    align-items: center;
  }

  .toggle-input {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
  }

  .toggle-label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 60px;
    height: 25px;
    line-height: 25px;
  }

  .toggle-label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    height: 25px;
    background: #ccc;
    border-radius: 25px;
    transition: 0.3s;
  }

  .toggle-label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 19px;
    transition: 0.3s;
  }

  .toggle-input:checked + .toggle-label:before {
    background: #4CAF50;
  }

  .toggle-input:checked + .toggle-label:after {
    left: calc(50px - 22px);
  }
</style>
